html {
    background-color: black;
    background-image: url(/img/waterfall.jpeg);
    background-size: cover;
}

body {
    background-color: transparent;
}

.customSubmitBtn {
    margin-top: 1vh;
    width: 100%;
}

.deleteButton {
    margin-top: 1vh;
    width: 100%;
}

.customLogo {
    margin-top: -20%;
}

.container .row form input {
    margin-bottom: 1vh;
}

form input {
    margin-bottom: 1vh;
}

form textarea {
    margin-bottom: 1vh;
}

.navbar-form .form-control.searchField {
    margin-top: 1vh;
    width: 350px;
}

@media only screen and (max-width: 1217px) {
    .navbar-form .form-control.searchField {
        width: 150px;
    }
}

@media only screen and (max-width: 1017px) {
    .navbar-form .form-control.searchField {
        width: 100px;
    }
}

@media only screen and (max-width: 967px) {
    .navbar-form .form-control.searchField {
        width: 400px;
    }
}

.createAnAccountHeader {
    color: white;
}

.showingResults {
    color: white;
    font-size: 2em;
    margin-left: .2em;
}

.voteButton {
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;
}

.inputPostId {
    visibility: hidden;
    position: absolute;
}

/*FOR POST SHOW PAGE*/
    .postText {
        color: white;
    }

    hr.style2 {
    	border-top: 3px double #8c8b8b;
    }

/*FOR USER SHOW PAGE*/
    .profileBackground {
        background-color: #323232;
    }

    .profileImgDiv {
    }

    .header {
        margin-left:10%;
        margin-top:70px;
    }

    .img-thumbnail {
        position:absolute;
        top: 75px;
        left:-75px;
    }

    .bg_blur
    {
        background-image:url('https://unsplash.it/400/400?random');
        height: 300px;
        background-size: cover;
    }

    .header{
        color : #808080;
        margin-left:10%;
        margin-top:70px;
    }

    .picture{
        height:150px;
        width:150px;
        position:absolute;
        top: 75px;
        left:-75px;
    }

    .picture_mob{
        position: absolute;
        width: 35%;
        left: 35%;
        bottom: 70%;
    }

    @media (max-width: 767px) {
        .header{
            text-align : center;
        }

        .nav{
            margin-top : 30px;
        }
    }
